<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112074330014-gdadths5kk342pt1opo5a5n5m31pgmb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112074330014-gdadths5kk342pt1opo5a5n5m31pgmb2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>112074330014-f6fr6bg5i2q0omdhvo2ic7kn1fef7jfc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAR_8wzyDGSbybpkNkNbpMlvyb_LxmScBE</string>
	<key>GCM_SENDER_ID</key>
	<string>112074330014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waspha.user.sg</string>
	<key>PROJECT_ID</key>
	<string>waspha-ddfea</string>
	<key>STORAGE_BUCKET</key>
	<string>waspha-ddfea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112074330014:ios:077ad882468a30622c908f</string>
	<key>DATABASE_URL</key>
	<string>https://waspha-ddfea.firebaseio.com</string>
</dict>
</plist>